body {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-black-meat-western-food-banner-background-image_194600.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: white;
  text-align: center;
  padding: 300px;
}
